<%- include('./partials/header') %>

<%- include('./partials/sidebar') %>

<!-- The Content within Page -->
        <!-- account content -->
        <div class="col-span-9 grid md:grid-cols-3 gap-4 mt-6 lg:mt-0">
            Promotions Terms & Condition 
        </div>
        <!-- account content end -->



<!-- The Content within Page Ends-->
</div>
    <!-- account wrapper end -->
<%- include('./partials/footer') %>